body{
  margin:0;
}

a{
  text-decoration: none;
}

.header{
  height:80px;
  width: 100%;
  display: flex;
  background-color: rgba(248,220,220,0.7);
}

.main{
  height:600px;
  width: 100%;
  padding-top: 5%;
  background-image: url("理佐麗奈.jpg");
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
  background-size: cover;
}

.logo{
  width:33%;
  float:left;
}

.header-left{
float: left;
width:15%;
}

.header-center{
  float:center;
  width:70%;
}

.header-center h1{
  color: #4169e1;
  text-align: center;
}

.header-right{
  float:right;
  width:15%;
  margin: auto;
}

.header-right h3{
  color:#4169e1;
  text-align:center;

}

.risa{
  float: left;
  width:50%;
}

.risa-image{
  text-align: center;
}

.risa-prof{
  width: 100%;
  margin: 0 auto;
}

.risa-prof h1{
  color:#ff8080;
  text-align: center;
}

.risa-prof ul{
  width: 50%;
  margin: auto;
  color: blue;
}

.risa-prof li{
  text-align: left;
  padding-left: 20%;
  width:105%;
}

.rena{
  float: right;
  width:50%;
}

.rena-image{
  text-align: center;
}

.rena-prof{
  width: 100%;
  margin: 0 auto;
}


.rena-prof h1{
  color:#ff8080;
  text-align: center;
}

.rena-prof ul{
  width: 50%;
  margin:auto;
  color: blue;
  text-align: center;
}

.rena-prof li{
  padding-left: 20%;
text-align: left;
width:125%;
}


@media(max-width: 670px) {

html{
  width:115%;
}

.logo{
  width:80%;
}

.header-left{
width:15%;
}

.header-center{
  float:center;
  width:70%;
}

.header-center h1{
  color: #4169e1;
  text-align: center;
  font-size: 28px;
}

.header-right{
    width:20%;
    margin: auto;
    font-size: 10px;
}

.main{
  height:1200px;
  background-position: center;
}

.risa{
  width:100%;
}

.risa-prof ul{
  width: 60%;
  margin: auto;
  padding-left:10%;
  color: blue;
}

.risa-prof li{
text-align: left;
padding-left: 0;
}

.rena{
  width: 100%;
  padding-top:5%;
}

.rena-prof ul{
  width:60%;
  margin:auto;
  padding-left:10%;
  color: blue;
}

.rena-prof li{
text-align: left;
padding-left: 0;
}

}
